In [1]:
import pandas as pd

In [4]:
aapl = pd.read_csv('./data/AAPL-5Y.csv', parse_dates=['Date'], index_col='Date')
amzn = pd.read_csv('./data/AMZN-5Y.csv', parse_dates=['Date'], index_col='Date')
goog = pd.read_csv('./data/GOOG-5Y.csv', parse_dates=['Date'], index_col='Date')

In [5]:
aapl.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1259 entries, 2017-05-31 to 2022-05-27
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       1259 non-null   float64
 1   High       1259 non-null   float64
 2   Low        1259 non-null   float64
 3   Close      1259 non-null   float64
 4   Adj Close  1259 non-null   float64
 5   Volume     1259 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 68.9 KB

In [6]:
#join em dataframes

In [11]:
stocks_price = aapl.copy()
stocks_price.drop(['Open', 'High', 'Low', 'Close', 'Volume'], axis=1, inplace=True)
stocks_price['AMZN'] = amzn['Adj Close']
stocks_price['GOOG'] = goog['Adj Close']
stocks_price.rename({'Adj Close':'AAPL'}, axis=1, inplace=True)
stocks_price

                  AAPL         AMZN         GOOG
Date
2017-05-31   36.153183   994.619995   964.859985
2017-06-01   36.252583   995.950012   966.950012
2017-06-02   36.789818  1006.729980   975.599976
2017-06-05   36.430080  1011.340027   983.679993
2017-06-06   36.553146  1003.000000   976.570007
...                ...          ...          ...
2022-05-23  143.110001  2151.139893  2233.330078
2022-05-24  140.360001  2082.000000  2118.520020
2022-05-25  140.520004  2135.500000  2116.790039
2022-05-26  143.779999  2221.550049  2165.919922
2022-05-27  149.639999  2302.929932  2255.979980

[1259 rows x 3 columns]

In [12]:
stocks_price.to_csv('./data/stock_prices.csv')