In [2]:
import pandas as pd

In [1]:
# up sampling a interpolation
# with .resample

In [4]:
unrate = pd.read_csv('./data/UNRATE.csv', parse_dates=['DATE'], index_col='DATE')

In [5]:
unrate.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 852 entries, 1948-01-01 to 2018-12-01
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   UNRATE  852 non-null    float64
dtypes: float64(1)
memory usage: 13.3 KB

In [6]:
unrate.head(3)

            UNRATE
DATE
1948-01-01     3.4
1948-02-01     3.8
1948-03-01     4.0

In [7]:
# resampling periods e frequency offsets

In [9]:
table_frequency = pd.DataFrame({'Frequency'   : ['Caledar Month End', 'Calendar Month Start', 'Business End', 'Business Start'],
                                'Alias'       : ['M', 'MS', 'BM', 'BMS'],
                                'Sample Date' : ['2017-04-30', '2017-04-01', '2017-04-28', '2017-04-03']})
table_frequency.set_index('Frequency', inplace=True)
table_frequency

                     Alias Sample Date
Frequency
Caledar Month End        M  2017-04-30
Calendar Month Start    MS  2017-04-01
Business End            BM  2017-04-28
Business Start         BMS  2017-04-03

In [10]:
unrate.asfreq('MS').info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 852 entries, 1948-01-01 to 2018-12-01
Freq: MS
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   UNRATE  852 non-null    float64
dtypes: float64(1)
memory usage: 13.3 KB

In [11]:
unrate.resample('MS')

In [13]:
unrate.asfreq('MS').equals(unrate.resample('MS').asfreq())

True

In [ ]:
# quarterly
gdp = pd.re