In [1]:
# Versão da Linguagem Python

from platform import python_version
print('Versão de Python Neste Jupyter Notebook:', python_version())

Versão de Python Neste Jupyter Notebook: 3.10.5

In [2]:
#imports necessários

import matplotlib.pyplot as plt       # visualização
import pandas as pd                   # manipulação de dados
from datetime import datetime         # manipulação de datas

import warnings
warnings.filterwarnings("ignore")

time_stamp = pd.Timestamp(datetime(2022, 1, 1))

print(time_stamp)

2022-01-01 00:00:00

In [3]:
# usaremos o pacote watermark para adicionar um logotipo ao nosso notebook com as versões dos pacotes utilizados

%reload_ext watermark
%watermark -a "Caique Miranda" --iversions -gu caiquemiranda

Author: Caique Miranda

Github username: caiquemiranda

matplotlib: 3.5.2
sys       : 3.10.5 (tags/v3.10.5:f377153, Jun  6 2022, 16:14:13) [MSC v.1929 64 bit (AMD64)]
pandas    : 1.4.3

In [4]:
pd.Timestamp(datetime(2022, 1, 1)) == time_stamp

True

In [5]:
time_stamp

Timestamp('2022-01-01 00:00:00')

In [6]:
time_stamp.year

2022

In [7]:
# dia da semana 
# 0 => domingo, 
# 1 => segunda, 
# 2 => terça, 
# 3 => quarta,
# 4 => quinta,
# 5 => sexta,
# 6 => sabado

time_stamp.weekday()

5

In [8]:
periodo = pd.Period('2022-01')

In [9]:
periodo

Period('2022-01', 'M')

In [10]:
periodo.asfreq('D')

Period('2022-01-31', 'D')

In [11]:
# argumento freq está depreciado, será removido futuramente

pd.Timestamp('2019-1-1', freq='M')

Timestamp('2019-01-01 00:00:00', freq='M')

In [12]:
index = pd.date_range(start='2019-1-1', periods=12, freq='M')
index

DatetimeIndex(['2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30',
               '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31',
               '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31'],
              dtype='datetime64[ns]', freq='M')

In [13]:
index[0]

Timestamp('2019-01-31 00:00:00', freq='M')

In [14]:
index.to_period()

PeriodIndex(['2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06',
             '2019-07', '2019-08', '2019-09', '2019-10', '2019-11', '2019-12'],
            dtype='period[M]')

In [15]:
pd.DataFrame({'data':index}).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   data    12 non-null     datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 224.0 bytes

In [16]:
import numpy as np
dados = np.random.random(size=(12,2))

In [17]:
dados = pd.DataFrame(data=dados, index=index).info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 12 entries, 2019-01-31 to 2019-12-31
Freq: M
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       12 non-null     float64
 1   1       12 non-null     float64
dtypes: float64(2)
memory usage: 288.0 bytes

In [18]:
tabela_frequencia = pd.DataFrame({'periodo': ['Hora', 'Dia', 'Semana', 'Mes', 'Quartil', 'Year'],
                                  'Apelido "Alias-as"': ['H', 'D', 'W', 'M', 'Q', 'A']})

tabela_frequencia.set_index('periodo', inplace=True)
tabela_frequencia

        Apelido "Alias-as"
periodo
Hora                     H
Dia                      D
Semana                   W
Mes                      M
Quartil                  Q
Year                     A

In [19]:
# atributos Td.timestap()

atributos_timestamp = pd.Series([   '.second, .minute, .hour',
                                    '.day, .month, .quarte, .year', 
                                    '.weekday',
                                    '.dayofweek', 
                                    '.weekofyear', 
                                    '.dayofyear'],)

atributos_timestamp.to_frame('Atributos')

                      Atributos
0       .second, .minute, .hour
1  .day, .month, .quarte, .year
2                      .weekday
3                    .dayofweek
4                   .weekofyear
5                    .dayofyear