In [2]:
import pandas as pd

In [4]:
google =pd.read_csv('./data/GOOGL.csv', parse_dates=['Date'], index_col='Date')

In [5]:
google.head(3)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-06-01,2374.439941,2385.709961,2354.280029,2381.179932,2381.179932,1167700
2021-06-02,2389.149902,2393.639893,2352.360107,2370.590088,2370.590088,1057900
2021-06-03,2345.729980,2357.020020,2329.520020,2347.580078,2347.580078,934800

In [6]:
google.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 252 entries, 2021-06-01 to 2022-05-27
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       252 non-null    float64
 1   High       252 non-null    float64
 2   Low        252 non-null    float64
 3   Close      252 non-null    float64
 4   Adj Close  252 non-null    float64
 5   Volume     252 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 13.8 KB

In [7]:
# shift padr√£o de 1 periodo

google['shifted'] = google.Close.shift()

In [8]:
google.head(3)

,Open,High,Low,Close,Adj Close,Volume,shifted
Date,,,,,,,
2021-06-01,2374.439941,2385.709961,2354.280029,2381.179932,2381.179932,1167700,NaN
2021-06-02,2389.149902,2393.639893,2352.360107,2370.590088,2370.590088,1057900,2381.179932
2021-06-03,2345.729980,2357.020020,2329.520020,2347.580078,2347.580078,934800,2370.590088

In [9]:
google['lagged'] = google.Close.shift(periods=-1)

In [10]:
google.tail(3)

,Open,High,Low,Close,Adj Close,Volume,shifted,lagged
Date,,,,,,,,
2022-05-25,2099.709961,2130.000000,2077.129883,2116.100098,2116.100098,2012900,2119.399902,2155.850098
2022-05-26,2113.540039,2172.989990,2104.500000,2155.850098,2155.850098,1897400,2116.100098,2246.330078
2022-05-27,2189.659912,2246.360107,2182.770020,2246.330078,2246.330078,1893200,2155.850098,NaN

In [13]:
google[[ 'Close', 'lagged', 'shifted']].tail(3)

                  Close       lagged      shifted
Date
2022-05-25  2116.100098  2155.850098  2119.399902
2022-05-26  2155.850098  2246.330078  2116.100098
2022-05-27  2246.330078          NaN  2155.850098

In [14]:
# calculando um periodo percent change

In [15]:
google['change'] = google.Close.div(google.shifted)

In [16]:
google[[ 'Close', 'shifted', 'change']].head(3)   # (Xt) - (Xt-1)

                  Close      shifted    change
Date
2021-06-01  2381.179932          NaN       NaN
2021-06-02  2370.590088  2381.179932  0.995553
2021-06-03  2347.580078  2370.590088  0.990294

In [17]:
google['return'] = google.change.sub(1).mul(100)

In [18]:
google[['Close', 'shifted', 'change', 'return']].head(3)

                  Close      shifted    change    return
Date
2021-06-01  2381.179932          NaN       NaN       NaN
2021-06-02  2370.590088  2381.179932  0.995553 -0.444731
2021-06-03  2347.580078  2370.590088  0.990294 -0.970645

In [19]:
# diff & pct.change
google['diff'] = google.Close.diff()  # (Xt) - (Xt-1)

In [20]:
google[['Close', 'diff']].head(3)

                  Close       diff
Date
2021-06-01  2381.179932        NaN
2021-06-02  2370.590088 -10.589844
2021-06-03  2347.580078 -23.010010

In [22]:
google['pct_change'] = google.Close.pct_change().mul(100)

In [23]:
google[['Close', 'return', 'pct_change']].head(3)

                  Close    return  pct_change
Date
2021-06-01  2381.179932       NaN         NaN
2021-06-02  2370.590088 -0.444731   -0.444731
2021-06-03  2347.580078 -0.970645   -0.970645

In [24]:
google['return_3D'] = google.Close.pct_change(3).mul(100)

In [26]:
# retorno de 3 dias

google[['Close', 'return_3D']].head()

                  Close  return_3D
Date
2021-06-01  2381.179932        NaN
2021-06-02  2370.590088        NaN
2021-06-03  2347.580078        NaN
2021-06-04  2393.570068   0.520336
2021-06-07  2402.300049   1.337640