In [2]:
import pandas as pd

In [3]:
dates = pd.date_range(start='2016', periods=4, freq='Q')

In [4]:
data = range(1, 5)

In [5]:
quartely = pd.Series(data=data, index=dates)

In [6]:
quartely

2016-03-31    1
2016-06-30    2
2016-09-30    3
2016-12-31    4
Freq: Q-DEC, dtype: int64

In [7]:
# up-sampling quarter=> month
monthly = quartely.asfreq('M')

In [8]:
monthly

2016-03-31    1.0
2016-04-30    NaN
2016-05-31    NaN
2016-06-30    2.0
2016-07-31    NaN
2016-08-31    NaN
2016-09-30    3.0
2016-10-31    NaN
2016-11-30    NaN
2016-12-31    4.0
Freq: M, dtype: float64

In [9]:
monthly = monthly.to_frame('baseline')

In [10]:
monthly

            baseline
2016-03-31       1.0
2016-04-30       NaN
2016-05-31       NaN
2016-06-30       2.0
2016-07-31       NaN
2016-08-31       NaN
2016-09-30       3.0
2016-10-31       NaN
2016-11-30       NaN
2016-12-31       4.0

In [11]:
# unsampling fill methods
# forwardfill]

monthly['ffill'] = quartely.asfreq('M', method='ffill')
monthly

            baseline  ffill
2016-03-31       1.0      1
2016-04-30       NaN      1
2016-05-31       NaN      1
2016-06-30       2.0      2
2016-07-31       NaN      2
2016-08-31       NaN      2
2016-09-30       3.0      3
2016-10-31       NaN      3
2016-11-30       NaN      3
2016-12-31       4.0      4

In [13]:
# back fill
monthly['bfill'] = quartely.asfreq('M', method='bfill')
monthly

            baseline  ffill  bfill
2016-03-31       1.0      1      1
2016-04-30       NaN      1      2
2016-05-31       NaN      1      2
2016-06-30       2.0      2      2
2016-07-31       NaN      2      3
2016-08-31       NaN      2      3
2016-09-30       3.0      3      3
2016-10-31       NaN      3      4
2016-11-30       NaN      3      4
2016-12-31       4.0      4      4

In [14]:
monthly['value'] = quartely.asfreq('M', fill_value=0)
monthly

            baseline  ffill  bfill  value
2016-03-31       1.0      1      1      1
2016-04-30       NaN      1      2      0
2016-05-31       NaN      1      2      0
2016-06-30       2.0      2      2      2
2016-07-31       NaN      2      3      0
2016-08-31       NaN      2      3      0
2016-09-30       3.0      3      3      3
2016-10-31       NaN      3      4      0
2016-11-30       NaN      3      4      0
2016-12-31       4.0      4      4      4

In [15]:
# add missing months .reindex()
dates = pd.date_range(start='2016', periods=12, freq='M')
dates

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31'],
              dtype='datetime64[ns]', freq='M')

In [17]:
quartely.reindex(dates)

2016-01-31    NaN
2016-02-29    NaN
2016-03-31    1.0
2016-04-30    NaN
2016-05-31    NaN
2016-06-30    2.0
2016-07-31    NaN
2016-08-31    NaN
2016-09-30    3.0
2016-10-31    NaN
2016-11-30    NaN
2016-12-31    4.0
Freq: M, dtype: float64